@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* Grid */
.habilidades {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px; 
    grid-template-areas: 
    "habilidadesTitle . ."
    "html css js"
    ". . ."
    ". . ."
    ". . .";
    align-items: center;
    justify-items: center; 
  }
  .habilidadesTitle { grid-area: habilidadesTitle; }
  .html { grid-area: html; }
  .css { grid-area: css; }
  .js { grid-area: js; }

header{
    background: rgba(0,0,0,0.9) url(/img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100vh;
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}
.logoHeader{
    display: flex;
}
.header span{
    color: orange;
    font-size: 34px;
}
.header p{
    color: white;
    font-size: 34px;
}

.navMenu ul{
    display: flex;
}
.navMenu ul a{
    font-size: 1.3rem;
    color: #bdb8b8;
    margin-right: 3rem;
}
.navMenu ul a:hover{
    color: #fff;
}

main{
    margin: 0 auto;
    width: 90vw;
    height: 90vh;
}

.infoContainer{
    color: white;
    display: flex;
    height: 60vh;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.infoContainer .texto{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoContainer .texto span{
    font-size: 2rem;
    font-weight: 300;
}
.infoContainer .texto h1{
    font-size: 3rem;
    color: orange;
}
.imagen img{
    width: 20rem;
    margin: 0 auto;
    border-radius: 1000%;
}

.sectionContainer{
    height: 80vh;
    margin: 5rem 11rem;
    display: flex;
}
.informacion {
    width: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}
.informacionTitle{
    font-size: 2.4rem;
}
.informacionSubtitle{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2rem;
}
.informacion p{
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: 300;
}
.dsCV{
    cursor: pointer;
    background-color: orange;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
    color: white;
    margin-top: .6rem;
}
.dsCV:hover{
    opacity: .9;
}

.habilidades{
    margin-top: 6rem;
    margin-left: 5rem;
    width: 50vw;
}
.habilidades .html i{
    font-size: 5rem;
    color: #f06529;
}
.habilidades .css i{
    font-size: 5rem;
    color: #2965f1;
}
.habilidades .js i{
    font-size: 5rem;
    color: #F0DB4F;
}
.habilidades p{
    text-align: center;
}

.servicios {
    text-align: center;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 33px 19px;
    grid-auto-flow: row;
    grid-template-areas:
      "responsive creatividad"
      "seo performance";
  }
  
.responsive { 
    grid-area: responsive; 
}
.responsive i:hover{
    transition: .2s;
    color: #2965f1;
}

.creatividad { grid-area: creatividad; }
.creatividad i:hover{
    transition: .2s;
    color: #F0DB4F;
}

.seo { grid-area: seo; }
.seo i:hover{
    transition: .2s;
    color: #f06529;
}

.performance { grid-area: performance; }
.performance i:hover{
    transition: .2s;
    color: #f056b4;
}

.sectionServicios{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.serviciosInfo{
    width: 100%;
}
.serviciosTitle, .serviciosSubtitle{
    display: block;
}

.servicios i{
    font-size: 2.5rem;
}